body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 10px 20px;
}


input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc; 
  padding: 10px 20px;
}


p {
  font-size: 18px;
  text-align: left;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}